:root {
    --color1: #f3e5e2; /* Define your theme color variables */
    --color1-lighter: #fafafa;
    --color2: #2A3F1F;
    --color3: #0E1C36;
    --color3-darker: #060d18;
    --modalColor:#060d187c;
    --color4: #EBC60F;
    --color5: #7785AC;
  }
  